body{
    background-color: #000;
}

h1{
    margin-top: 30px;
}

h1, h2, h3, h4{
	color: #fff;
	font-family: 'Nobel', sans-serif;
}

p{
    font-family: 'Nobel', sans-serif;
    font-size:14px;
}

.line{
    display: inline-block;
	background-color: #00f;
	height: 2px;
	width: 25%;
}

/*  Container's styles  */
.popup {
	position: absolute;
	z-index:2;
	height:200vh;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.7);
	position:absolute;
	z-index:3;
	height:100%;
	width:100%;
}

.searcher_body{
    display:block;
	position: relative;
	vertical-align:top;
    margin:10px auto;
    padding-top:30px;
    background-color:#fff;
	z-index:4;
    width:max-content;
    height:max-content;
}

.display{
    display:inline-block;
    vertical-align:top;
    width:24vw;
    padding: 15px;
    margin: 0;
}
    /* Display of the blocks */
    /* index */
    .title{
        height:22vh;
        width: 100%;
        background-position: center;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .stallions{
        height:22vh;
        width: 100%;
        background-position: center;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about{
        height:22vh;
        width: 100%;
        background-position: center;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .gallery{
        height: 35vh;
        width: 100%;
        background-color: #303030;
        padding-bottom: 20px;
    }

    #gallery .line-yellow{
	    margin-bottom: 10px;
    }

        .image{
            width:30%;
            height: auto;
            margin: 2px 6px;
            align-self:center;
        }

    .news{
        height:22vh;
        width: 100%;
        background-position: center;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .contacts{
        height:22vh;
        width: 100%;
        background-position: center;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title_horse{
        height:auto;padding:30px 0;background-color: #101010;width: 100%;
    }

    .line-yellow{
        display: inline-block;
	    background-image: url('../img/server/line-pattern-yellow.png');
	    background-repeat: repeat-x;
	    height: 2px;
	    width: 25%;
    }
    .runner{
        display:flex;
        vertical-align: top;
        margin: 0 auto;
        height:15vh;
    }

.edit_field{
    display:inline-block;
    vertical-align:middle;
    width:50vw;
    height:100vh;
    padding: 15px;
}
    /* Display of the tools' block*/
    .title_tools{
        display: flex;
    }



.menu{
    display:inline-block;
    vertical-align:top;
    width:24vw;
    padding: 15px;
}