<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Наша история</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ url_for( 'static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for( 'static', filename='css/style.css')}}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
</head>

<body>

<!-- Header -->
<div class="header">
    <a class="home" href="\index" style="margin-left:20px"><img src="{{ url_for( 'static', filename='img/icons/icon-home.png')}}" height=64
                                        width=64/></a>
    <img class="menu_button" style="display:block;position:absolute;right:32px;margin-top:15px;cursor:pointer" src="{{ url_for( 'static', filename='img/icons/menu1.png')}}" height=25
                                        width=36/>
</div>

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <h2 style="color:orange;">НАША ИСТОРИЯ</h2>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2>КОНТАКТЫ</h2></a>
    </div>
</div>

<div CLASS="title" style="background-image:url('static/img/Hourses1.jpg');background-position: top;height:95vh" align="center"></div>

<!-- Page items -->
<div class="container-total">
    <div style="height:20vh; margin-top:55px;margin-bottom:75px" align="center">
        <h1 style="color: #ffc000;font-size:60px">НАША ИСТОРИЯ</h1>
        <div class="line-yellow"></div>
        <p style="color: #fff;margin-top:20px;font-size:15px">Пара слов о Завиваловском</p>
    </div>

    <!-- предыстория -->
    <div style="background: #202020;display: flex">
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/19centery_2.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/19centery.jpg')}}" alt="">
        </div>
        <div style="background: #000;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;">
            <h1 style="color: #ffc000;" align="center">Предыстория</h1>
            <p style="color: #fff;font-weight:500" align="center"></p>
        </div>
    </div>
    <!-- Царское время -->
    <div style="background: #000;display: flex">
        <div style="background: #202020;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;margin-left: 20px;">
            <h1 style="color: #ffc000;" align="center">Развитие в царское время</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/ladyzhenskiy.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/20century.jpg')}}" alt="">
        </div>
    </div>
    <!-- Советское время -->
    <div style="background: #202020;display: flex">
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/ussr_39.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/20century_ussr.jpg')}}" alt="">
        </div>
        <div style="background: #000;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;">
            <h1 style="color: #ffc000;" align="center">Развитие в советское время</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
    <!-- ВОВ -->
    <div style="background: #000;display: flex">
        <div style="background: #202020;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;margin-left: 20px;">
            <h1 style="color: #ffc000;" align="center">"Завиваловский" во время Великой Отечественной Войны</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/vov.jpg')}}" alt="">
        </div>
    </div>
    <!-- послевоенное время -->
    <div style="background: #202020;display: flex">
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/dawn.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/dawn_2.jpg')}}" alt="">
        </div>
        <div style="background: #000;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;">
            <h1 style="color: #ffc000;" align="center">Послевоенное время или расцвет "Завиваловского"</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
    <!-- 90-е -->
    <div style="background: #000;display: flex">
        <div style="background: #202020;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;margin-left: 20px;">
            <h1 style="color: #ffc000;" align="center">Кризис 90-х и спад производства</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/90.jpg')}}" alt="">
        </div>
    </div>
    <!-- Сегодня -->
    <div style="background: #202020;display: flex">
        <div style="width:45%;padding: 20px 50px" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/gallery/HL_10.png')}}" alt="">
        </div>
        <div style="background: #000;width:50%;height:40vh;margin-top: auto;margin-bottom: auto;">
            <h1 style="color: #ffc000;" align="center">Развитие "Завиваловского" сегодня</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
</div>
<!-- Social link -->
<div id="social" class="container-social" align="center">
    <div class="line"></div>
    <div class="icon" align="center">
        <a href='https://www.instagram.com/zavivalovesky/'><img src="{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}" style="width:96px"
             onmouseout="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}'; this.width=96;this.height=96;"
             onmouseover="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_2.png')}}'; this.width=96; this.height=96;"/></a>
    </div>
    <div class="line"></div>
</div>

<!-- Footer items  -->
<footer>
    <div id="contacts" align="center" style="width: 100%;background-color: #000;padding-bottom:10px">
        <h1 style="color: #fff;margin: 0 0; padding-top: 30px;font-size:75px">ЗАВИВАЛОВСКИЙ</h1>
        <div class="line-yellow" style="width:650px"></div>
        <h2 style="color: #fff">ПЛЕМЕННОЙ КОННЫЙ ЗАВОД</h2>
        <p style="color: #fff;font-weight:500;padding-top: 20px;">РОССИЯ</p>
        <p style="color: #fff;font-weight:300">Пензенская область, Каменский район</p>
        <p style="color: #fff;font-weight:300">село Завиваловка, Улица Совхозная 10</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Email zavivalovesky@mail.ru</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Телефон +7 *** ***-**-**</p>
    </div>
    <div style="width: 100%;height: 100px;background-color: #404040"></div>

</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script src="{{ url_for( 'static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for( 'static', filename='js/jquery.easing.1.3.js')}}"></script>
<script type="{{ url_for( 'static', filename='text/javascript')}}">
      $(document).ready(function() {
        $('a[href^="#"]').click(function(event) {
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html, body').animate({scrollTop:target}, 800, $.easing.easeInOutExpo());
            event.preventDefault();
        });
      });

</script>


<script>
    $(function(){
        $(".menu_button").click(function() {
            $(".menu_button").css({"display":"none"})
            $(".popup_menu").css({"display":"block"})
        });
        $(".popup_bg_menu").click(function() {
            $(".popup_menu").css({"display":"none"})
            $(".menu_button").css({"display":"block"})
        });
    });
</script>

</body>
</html>