<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Наша история</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for( 'static', filename='css/style.css')}}" rel="stylesheet">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }


    </style>
</head>

<body>

<!-- Header -->
<div class="header">
    <a class="home" href="\index" style="margin-left:20px"><img
            src="{{ url_for( 'static', filename='img/icons/icon-home.png')}}" height=64
            width=64></a>
    <img style="display:block;margin: 5px auto;padding-right:75px;width:300px;align-self:center;height:auto;max-width:60vw" src="{{ url_for( 'static', filename='img/icons/logo_zav_1.png')}}">
    <img class="menu_button" style="display:block;position:absolute;right:32px;margin-top:15px;cursor:pointer"
         src="{{ url_for( 'static', filename='img/icons/menu1.png')}}" height=25
         width=36>
</div>

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <h2 style="color:orange;">НАША ИСТОРИЯ</h2>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2>КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Page items -->
<div class="container-total">
    <div class="title"
         style="height:95vh;background-image:url('static/img/history/history.png');background-position: top;padding-bottom:30px" align="center">
        <div style="max-width: 100%;background:rgba(0,0,0,0.5);width:max-content;padding:55px 50px" align="center">
            <h1 style="color: #ffc000;">НАША ИСТОРИЯ</h1>
            <div class="line"></div>
            <p style="color: #fff;margin-top:20px;font-size:18px;width:350px">Племенной конный завод "Завиваловский"
                насчитывает в своей
                истории более 150 лет. На лошадях, выросших под крышами его конюшен и вскормленных травой каменских
                полей,
                воевали при царе, соревновались на иподромах СССР и ставили рекорды в современной России.
                "Завиваловский" в
                полной мере сохранил много вековые традиции селекции лошадей Орловской породы и пробует свои силы в
                новых
                направлениях.</p>
            <p style="color: #fff;margin-top:20px;font-size:20px">"Завиваловский"</p>
            <p style="color: #fff;font-size:18px;">Чтя прошлое, сегодня стемимся в будущее.</p>
        </div>
    </div>

    <!-- предыстория -->
    <div style="background: #202020;display: flex;padding-top:10px">
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/19centery_2.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/19centery.jpg')}}" alt="">
        </div>
        <div class="story_text" style="background: #000">
            <h1 style="color: #ffc000;" align="center">Предыстория</h1>
            <p style="color: #fff;font-weight:500" align="center"></p>
        </div>
    </div>
    <!-- Царское время -->
    <div style="background: #000;display: flex">
        <div class="story_text" style="background: #202020">
            <h1 style="color: #ffc000;" align="center">Развитие в царское время</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/ladyzhenskiy.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/20century.jpg')}}" alt="">
        </div>
    </div>
    <!-- Советское время -->
    <div style="background: #202020;display: flex">
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/ussr_39.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/20century_ussr.jpg')}}" alt="">
        </div>
        <div class="story_text" style="background: #000">
            <h1 style="color: #ffc000;" align="center">Развитие в советское время</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
    <!-- ВОВ -->
    <div style="background: #000;display: flex">
        <div class="story_text" style="background: #202020">
            <h1 style="color: #ffc000;" align="center">"Завиваловский" во время Великой Отечественной Войны</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/vov.jpg')}}" alt="">
        </div>
    </div>
    <!-- послевоенное время -->
    <div style="background: #202020;display: flex">
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/dawn.jpg')}}" alt="">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/dawn_2.jpg')}}" alt="">
        </div>
        <div class="story_text" style="background: #000">
            <h1 style="color: #ffc000;" align="center">Послевоенное время или расцвет "Завиваловского"</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
    <!-- 90-е -->
    <div style="background: #000;display: flex">
        <div class="story_text" style="background: #202020">
            <h1 style="color: #ffc000;" align="center">Кризис 90-х и спад производства</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/history/90.jpg')}}" alt="">
        </div>
    </div>
    <!-- Сегодня -->
    <div style="background: #202020;display: flex">
        <div class="story_images" align="left">
            <img style="width:90%;padding: 20px 0px"
                 src="{{ url_for( 'static', filename='img/gallery/HL_10.png')}}" alt="">
        </div>
        <div class="story_text" style="background: #000">
            <h1 style="color: #ffc000;" align="center">Развитие "Завиваловского" сегодня</h1>
            <p style="color: #fff;font-weight:500" align="center">...</p>
        </div>
    </div>
</div>
<!-- Social link -->
<div id="social" class="container-social" align="center">
    <div class="line"></div>
    <div class="icon" align="center">
        <a href='https://www.instagram.com/zavivalovesky/'><img class="icon_img"
                                                                src="{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}"
                                                                onmouseout="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}';"
                                                                onmouseover="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_2.png')}}';"/></a>
    </div>
    <div class="line"></div>
</div>

<!-- Footer items  -->
<footer>
    <div id="contacts" align="center" style="width: 100%;background-color: #000;padding:30px 0">
        <img src="{{ url_for( 'static', filename='img/icons/logo_zav_1.png')}}" style="width:30vw">
        <h5 style="color: #fff;;padding-top: 10px;">РОССИЯ</h5>
        <h5 style="color: #fff;">Пензенская область, Каменский район</h5>
        <h5 style="color: #fff;">село Завиваловка, Улица Совхозная 10</h5>
        <h5 style="color: #fff;">Email zavivalovesky@mail.ru</h5>
        <h5 style="color: #fff;">Телефон +7 *** ***-**-**</h5>
    </div>
    <div style="width: 100%;height: 20vh;background-color: #404040"></div>

</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script src="{{ url_for( 'static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for( 'static', filename='js/jquery.easing.1.3.js')}}"></script>
<script type="{{ url_for( 'static', filename='text/javascript')}}">
      $(document).ready(function() {
        $('a[href^="#"]').click(function(event) {
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html, body').animate({scrollTop:target}, 800, $.easing.easeInOutExpo());
            event.preventDefault();
        });
      });



</script>


<script>
    $(function(){
        $(".menu_button").click(function() {
            $(".menu_button").css({"display":"none"})
            $(".popup_menu").css({"display":"block"})
        });
        $(".popup_bg_menu").click(function() {
            $(".popup_menu").css({"display":"none"})
            $(".menu_button").css({"display":"block"})
        });
    });


</script>

</body>
</html>