{% extends "stallions_ex.html" %}

{% block title %}
<title>Дакар</title>
{% endblock %}

{% block content %}
    <div style="padding-top:20px" align="center">
        <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}" alt="">
    </div>
    <div  class="horse_descr">
        <h1 style="color: #ffc000;padding-left: 10vw;padding-top: 30px;">Дакар</h1>
        <p style="color: #fff;font-weight:500;padding-left: 7vw;">Порода: Орловская рысистая, жеребец</p>
        <p style="color: #fff;font-weight:500;padding-left: 7vw;">Родился 12 мая 2018 года</p>
        <p style="color: #fff;font-weight:500;padding-left: 7vw;">Родители Кальмиус, Динамика</p>
        <p style="color: #fff;font-weight:600;padding-left: 7vw;">Цена: 100 000 р.</p>
    </div>
{% endblock %}