{% extends "ed_index.html" %}


{% block tools %}
    <div class="gallery_tools">
        {% for i in gallery %}
            <div style="display:flex">
                <input class="form-control" style="margin-bottom:10px" name="img{{i.id}}" autocomplete="off" id="{{i.id}}" placeholder="Текущая: {{i.filename}}">
                <img class="button" src="{{ url_for( 'static', filename='img/server/list.png')}}" style="cursor:pointer;margin-left:10px" height=50 width=55>
            </div>
        {% endfor %}
    </div>
{% endblock %}