{% extends "ed_index.html" %}


{% block tools %}
    <div class="news_tools">
        <input class="form-control" name="title" style="margin-bottom:10px" autocomplete="off" id="{{data.query.filter_by(name='news').first().id}}" placeholder="Текущая подпись: {{data.query.filter_by(name='news').first().descr}}">
        <div style="display:flex">
            <input class="form-control" name="background" autocomplete="off" id="{{photo.query.filter_by(descr='news').first().id}}" placeholder="Текущая: {{photo.query.filter_by(descr='news').first().filename}}">
            <img class="button" src="{{ url_for( 'static', filename='img/server/list.png')}}" style="cursor:pointer;margin-left:10px" height=50 width=55>
        </div>
    </div>
{% endblock %}