{% extends "ed_news_disp.html" %}


{% block tools %}
    <div class="about_tools">
        <div class="para_container">
            <textarea name="title" rows="1" cols="85" wrap="virtual">{{story[0]}}</textarea>
            <textarea name="text" rows="8" cols="85" wrap="virtual">{{story[4]}}</textarea>
            <div style="display:flex">
                <textarea name="images" rows="1" cols="85" wrap="virtual">{{story[3]}}</textarea>
                <img class="button" src="{{ url_for( 'static', filename='img/server/list.png')}}"
                     style="cursor:pointer;margin-left:10px" height=50 width=55>
            </div>
        </div>
    </div>
    {% if index != 0 %}
        <div class="line" style="background-color: #000;margin:20px;"></div>
        <h2 style="width:max-content;cursor:pointer" onclick="location.href='/delete_news_block/{{index}}'">Удалить блок</h2>
    {% endif %}
{% endblock %}