{% extends "ed_price_catalogs_disp.html" %}


{% block tools %}
    <div class="about_tools">
        <div class="para_container">
            <div style="display:flex">
                <textarea name="images" rows="1" cols="70" wrap="virtual">{{stallion[3]}}</textarea>
                <img class="button" src="{{ url_for( 'static', filename='img/server/list.png')}}"
                     style="cursor:pointer;margin-left:10px" height=50 width=55>
            </div>
            <textarea name="title" rows="1" cols="70" wrap="virtual">{{stallion[0]}}</textarea>
            <textarea name="text" rows="8" cols="70" wrap="virtual">{{stallion[4]}}</textarea>
            <textarea name="price" rows="1" cols="70" wrap="virtual">{{stallion[1][-1]}}</textarea>
        </div>
    </div>
    {% if breed[-1] != "0" %}
        <div class="line" style="background-color: #000;margin:5px;"></div>
        <h2 style="width:max-content;cursor:pointer" onclick="location.href='/delete_horse/{{breed}}з'">Удалить лошадь</h2>
    {% endif %}
{% endblock %}