{% extends "stallions_ex.html" %}

{% block title %}
<title>Русский тяжеловоз</title>
{% endblock %}

{% block stallion %}
<div style="padding-top:20px" align="center">
    <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/heavy.jpg')}}"
         alt="">
</div>
<div class="horse_descr">
    <h1 style="color: #ffc000;padding-left: 60px;padding-top: 30px;">Кличка</h1>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Порода</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Дата рождения</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родители</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Промеры</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Характеристика</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Заслуги</p>
    <p style="color: #fff;font-weight:20px;padding-left: 40px;">Цена</p>
</div>
{% endblock %}