{% extends "stallions_ex.html" %}

{% block title %}
<title>Русский тяжеловоз</title>
{% endblock %}

{% block content %}
<div style="padding-top:20px" align="center">
    <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/heavy.jpg')}}"
         alt="">
</div>
<div class="horse_descr">
    <h1 style="color: #ffc000;padding-left: 10vw;padding-top: 30px;">Кличка</h1>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Порода</p>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Дата рождения</p>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Родители</p>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Промеры</p>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Характеристика</p>
    <p style="color: #fff;font-weight:500;padding-left: 7vw;">Заслуги</p>
    <p style="color: #fff;font-weight:600;padding-left: 7vw;">Цена</p>
</div>
{% endblock %}