<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Русские тяжеловозы</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }







    </style>
    <link href="{{ url_for( 'static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda:700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for( 'static', filename='css/style.css')}}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]
    <script type="text/javascript" src="{{ url_for( 'static', filename='js/carusel.js')}}"></script>-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
          href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.png">
</head>

<body style="background-color: #101010">

<!-- Header -->
<div class="header">
    <a class="home" href="\index" style="margin-left:20px"><img
            src="{{ url_for( 'static', filename='img/icons/icon-home.png')}}" height=64
            width=64/></a>
    <img class="menu_button" style="display:block;position:absolute;right:32px;margin-top:15px;cursor:pointer"
         src="{{ url_for( 'static', filename='img/icons/menu1.png')}}" height=25
         width=36/>
</div>

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2>КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->
<div style="height:auto;padding:30px 0;background-color: #101010;width: 100%;">
    <img class="central" style="height:200px;" src="{{ url_for( 'static', filename='img/logo1.png')}}" alt="">
</div>

<!-- Page items -->

<div class="runners">
    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner" onclick="location.href='\heavy_ex'" style="cursor:pointer">
        <img src="{{ url_for( 'static', filename='img/stallions/heavy.jpg')}}" style="height:40vh;width:auto;"/>
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;padding-top: 30px;font-size:40px;">Кличка</h1>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Порода: Русский тяжеловоз, жеребец</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Дата рождения</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родители </p>
        </div>
        <h2 style="color: #fff;margin: auto 50px">Цена</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>
</div>

<!-- Social link -->

<div id="social" class="container-social" align="center">
    <div class="line"></div>
    <div class="icon" align="center">
        <a href='https://www.instagram.com/zavivalovesky/'><img
                src="{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}" style="width:96px"
                onmouseout="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}'; this.width=96;this.height=96;"
                onmouseover="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_2.png')}}'; this.width=96; this.height=96;"/></a>
    </div>
    <div class="line"></div>
</div>

<!-- Footer items  -->
<footer>
    <div id="contacts" align="center" style="width: 100%;background-color: #000;padding-bottom:10px">
        <img src="{{ url_for( 'static', filename='img/icons/logo_zav_1.png')}}" style="width:70vw">
        <p style="color: #fff;font-weight:500;padding-top: 20px;">РОССИЯ</p>
        <p style="color: #fff;font-weight:300">Пензенская область, Каменский район</p>
        <p style="color: #fff;font-weight:300">село Завиваловка, Улица Совхозная 10</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Email zavivalovesky@mail.ru</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Телефон +7 *** ***-**-**</p>
    </div>
    <div style="width: 100%;height: 100px;background-color: #404040"></div>

</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script src="{{ url_for( 'static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for( 'static', filename='js/jquery.easing.1.3.js')}}"></script>
<script>
      $(document).ready(function() {
        $('a[href^="#"]').click(function(event) {
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html, body').animate({scrollTop:target}, 800, $.easing.easeInOutExpo());
            event.preventDefault();
        });
      });

</script>
<script>
    $(function(){
        $("#1_img").click(function() {
            $("#1").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#2_img").click(function() {
            $("#2").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#3_img").click(function() {
            $("#3").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#4_img").click(function() {
            $("#4").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#5_img").click(function() {
            $("#5").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#6_img").click(function() {
            $("#6").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#7_img").click(function() {
            $("#7").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#8_img").click(function() {
            $("#8").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#9_img").click(function() {
            $("#9").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#10_img").click(function() {
            $("#10").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#11_img").click(function() {
            $("#11").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#12_img").click(function() {
            $("#12").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#13_img").click(function() {
            $("#13").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#14_img").click(function() {
            $("#14").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#15_img").click(function() {
            $("#15").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
     })
     $(function(){
        $(".popup_bg").click(function() {
            $(".popup").css({"display":"none"})
        });
    })

</script>
<script>
    $(function(){
        $(".menu_button").click(function() {
            $(".menu_button").css({"display":"none"})
            $(".popup_menu").css({"display":"block"})
        });
        $(".popup_bg_menu").click(function() {
            $(".popup_menu").css({"display":"none"})
            $(".menu_button").css({"display":"block"})
        });
    });

</script>
<link rel="stylesheet" href="/static/css/style.css?ver=261" type="text/css"/>
<link rel="stylesheet" href="/static/css/bootstrap.min.css?ver=3" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


</body>
</html>