<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>ПКЗ "Завиваловский"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for( 'static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for( 'static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
        $svg_anm.fadeOut();
        $preloader.delay(500).fadeOut('slow');
    });
    </script>
    <link href="{{ url_for( 'static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
</head>

<body>
<div id="p_prldr">
    <div class="contpre" align="center">
        <img style="height:200px;width:auto" src="{{ url_for( 'static', filename='img/logo1.png')}}">
        <span class="svg_anm"></span>
    </div>
</div>


<!-- Header -->
<div class="header">
    <a class="home" href="\index" style="margin-left:20px"><img
            src="{{ url_for( 'static', filename='img/icons/icon-home.png')}}" height=64
            width=64/></a>
    <img class="menu_button" style="display:block;position:absolute;right:32px;margin-top:15px;cursor:pointer"
         src="{{ url_for( 'static', filename='img/icons/menu1.png')}}" height=25
         width=36/>
</div>

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:orange;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2>КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->
<div class="container-title"></div>

<!-- Page items -->
<div class="container-total">

    <!-- Stallions -->
    <div id="stallions" style="display:flex; background: #202020;margin-left: 50px;margin-right: 50px;height: 95vh;">
        <div class="fadein" align="central">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}"
                 alt="Попкорн">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}" alt="Дакар">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}" alt="Упрёк">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}" alt="Крекер">
        </div>
        <div class="img">
            <img class="img_stlion1" src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}"
                 onclick="location.href='\popcorn'">
            <img class="img_stlion2" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}"
                 onclick="location.href='\dakar'">
            <img class="img_stlion3" src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}"
                 onclick="location.href='\uprek'">
            <img class="img_stlion4" src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}"
                 onclick="location.href='\kreker'">
        </div>

        <div id="stlions_link" align="center">
            <h1 style="color:#ffc000;margin-bottom:55px;font-size:40px">ПРОДАЖА</h1>
            <div  id="stlions_link_block">
                <a class="link_stlion1" href="\popcorn" style="color:#fff;"><h2 align="left"
                                                                                style="font-size:35px;">
                    ПОПКОРН</h2>
                </a>
                <a class="link_stlion2" href="\dakar" style="color:#fff;"><h2 align="left"
                                                                              style="font-size:35px;">
                    ДАКАР</h2></a>
                <a class="link_stlion3" href="\uprek" style="color:#fff;"><h2 align="left"
                                                                              style="font-size:35px;">
                    УПРЁК</h2></a>
                <a class="link_stlion4" href="\kreker" style="color:#fff;"><h2 align="left"
                                                                               style="font-size:35px;">
                    КРЕКЕР</h2></a>
                <a href="\sale" style="color:#fff;"><h2 align="left" style="font-size:35px;">
                    Другие</h2></a>
            </div>
        </div>
    </div>

    <!-- About items -->
    <div id="about" class="container-about">
        <div class="middle" align="center">
            <h1 style="color: #fff">ИСТОРИЯ</h1>
            <p style="color: #fff">ПЛЕМЕННОГО КОННОГО ЗАВОДА "ЗАВИВАЛОВСКИЙ"</p>
            <img src="{{ url_for( 'static', filename='img/icons/readmore_1.png')}}"
                 style="margin-top:30px;width:200px;cursor:pointer"
                 onmouseout="this.src='{{ url_for( 'static', filename='img/icons/readmore_1.png')}}'; this.width=200;"
                 onmouseover="this.src='{{ url_for( 'static', filename='img/icons/readmore_2.png')}}'; this.width=200;"
                 onclick="location.href='\about'"/>
        </div>
    </div>

    <!-- Gallery -->
    <div id="gallery" style="width: 100%; background-color: #303030;padding-bottom:20px">
        <div align="center">
            <div class="line-yellow"></div>
            <h1 style="display: inline-block;margin: 0 20px; padding-top: 60px;padding-bottom: 20px;color:#ffc000;">
                Галерея</h1>
            <div class="line-yellow"></div>
        </div>
        <div style="display:flex;margin:10px 0;width:30vh" align="center">
            <img id="1_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_1.JPG')}}"/>
            <img id="2_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_2.JPG')}}"/>
            <img id="3_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_3.jpg')}}"/>
        </div>
        <div style="display:flex;margin:10px 0;width:30vh" align="center">
            <img id="4_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_4.jpg')}}"/>
            <img id="12_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_12.png')}}"/>
            <img id="13_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_13.png')}}"/>
        </div>
        <div style="display:flex;margin:10px 0;width:30vh" align="center">
            <img id="7_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_7.JPG')}}"/>
            <img id="14_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_14.png')}}"/>
            <img id="9_img" class="image" src="{{ url_for( 'static', filename='img/gallery/HL_9.png')}}"/>
        </div>
    </div>

    <!-- News block -->
    <div class="news" align="center" onclick="location.href='/news'" style="cursor:pointer">
        <h1 style="color:#ffc000;padding-top:20vh;margin-bottom:30px">ЖИЗНЬ ЛЮДЕЙ И ЛОШАДЕЙ ПКЗ "ЗАВИВАЛОВСКИЙ"</h1>
        <div class="line-yellow"></div>
        <p style="color: #fff;margin-top:20px">Пара слов о Завиваловском</p>
    </div>
</div>

<div class="popup" align="center">
    <div class="popup_bg"></div>
    <div id="carousel-id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div id="1" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_1.JPG')}}"/>
            </div>
            <div id="2" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_2.JPG')}}"/>
            </div>
            <div id="3" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_3.jpg')}}"/>
            </div>
            <div id="4" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_4.jpg')}}"/>
            </div>
            <div id="5" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_5.JPG')}}"/>
            </div>
            <div id="6" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_6.jpg')}}"/>
            </div>
            <div id="7" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_7.JPG')}}"/>
            </div>
            <div id="8" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_8.png')}}"/>
            </div>
            <div id="9" class="item" align="center"><img class="carousel_img"
                                                         src="{{ url_for( 'static', filename='img/gallery/HL_9.png')}}"/>
            </div>
            <div id="10" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_10.png')}}"/>
            </div>
            <div id="11" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_11.png')}}"/>
            </div>
            <div id="12" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_12.png')}}"/>
            </div>
            <div id="13" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_13.png')}}"/>
            </div>
            <div id="14" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_14.png')}}"/>
            </div>
            <div id="15" class="item" align="center"><img class="carousel_img"
                                                          src="{{ url_for( 'static', filename='img/gallery/HL_15.png')}}"/>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-id" role="button" data-slide="prev">
            <img src="{{ url_for( 'static', filename='img/arrow_left.png')}}"
                 style="margin:auto auto;margin-top:30vh;height:96px"/>
        </a>
        <a class="right carousel-control" href="#carousel-id" role="button" data-slide="next">
            <img src="{{ url_for( 'static', filename='img/arrow_right.png')}}"
                 style="margin:auto auto;margin-top:30vh;height:96px"/>
        </a>
    </div>
</div>

<!-- Social link -->
<div id="social" class="container-social" align="center">
    <div class="line"></div>
    <div class="icon" align="center">
        <a href='https://www.instagram.com/zavivalovesky/'><img class="icon_img"
                src="{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}"
                onmouseout="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_1.png')}}';"
                onmouseover="this.src='{{ url_for( 'static', filename='img/icons/icon-instagram_2.png')}}';"/></a>
    </div>
    <div class="line"></div>
</div>

<!-- Footer items  -->
<footer>
    <div id="contacts" align="center" style="width: 100%;background-color: #000;padding-bottom:10px">
        <img src="{{ url_for( 'static', filename='img/icons/logo_zav.png')}}" style="width:70vw">
        <p style="color: #fff;font-weight:500;padding-top: 20px;">РОССИЯ</p>
        <p style="color: #fff;font-weight:300">Пензенская область, Каменский район</p>
        <p style="color: #fff;font-weight:300">село Завиваловка, Улица Совхозная 10</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Email zavivalovesky@mail.ru</p>
        <p style="color: #fff;font-weight:400;padding-top: 10px;">Телефон +7 *** ***-**-**</p>
    </div>
    <div style="width: 100%;height: 100px;background-color: #404040"></div>

</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='js/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script src="{{ url_for( 'static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for( 'static', filename='js/jquery.easing.1.3.js')}}"></script>
<script>
      $(document).ready(function() {
        $('a[href^="#"]').click(function(event) {
            var id = $(this).attr("href");
            var offset = 60;
            var target = $(id).offset().top - offset;
            $('html, body').animate({scrollTop:target}, 800, $.easing.easeInOutExpo());
            event.preventDefault();
        });
      });


</script>
<script>
    $(function(){
        $("#1_img").click(function() {
            $("#1").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#2_img").click(function() {
            $("#2").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#3_img").click(function() {
            $("#3").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#4_img").click(function() {
            $("#4").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#5_img").click(function() {
            $("#5").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#6_img").click(function() {
            $("#6").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#7_img").click(function() {
            $("#7").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#8_img").click(function() {
            $("#8").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#9_img").click(function() {
            $("#9").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#10_img").click(function() {
            $("#10").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#11_img").click(function() {
            $("#11").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#12_img").click(function() {
            $("#12").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#13_img").click(function() {
            $("#13").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#14_img").click(function() {
            $("#14").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#15_img").click(function() {
            $("#15").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
     })
     $(function(){
        $(".popup_bg").click(function() {
            $(".popup").css({"display":"none"})
        });
    })


</script>
<script>
    $(function(){
        $(".menu_button").click(function() {
            $(".menu_button").css({"display":"none"})
            $(".popup_menu").css({"display":"block"})
        });
        $(".popup_bg_menu").click(function() {
            $(".popup_menu").css({"display":"none"})
            $(".menu_button").css({"display":"block"})
        });
    });


</script>
<script>
    $(function(){
        $(".link_stlion1").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion1").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion1").css({"display":"none"});
                    $(".fadein").css({"display":"block"});

            }
        );
        $(".link_stlion2").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion2").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion2").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
        $(".link_stlion3").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion3").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion3").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
        $(".link_stlion4").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion4").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion4").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
     })


</script>
<link rel="stylesheet" href="/static/css/style.css?ver=276" type="text/css"/>
<link rel="stylesheet" href="/static/css/bootstrap.min.css?ver=3" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>


</body>
</html>