{% extends "base.html" %}


{% block content %}
<div id="p_prldr">
    <div class="contpre" align="center">
        <img style="align-self:center;height:auto;width:400px;max-width:95vw;"
             src="{{ url_for( 'static', filename='img/icons/logo_zav_1.png')}}">
        <span class="svg_anm"></span>
    </div>
</div>


<!-- Header -->
<div class="header">
    <a class="home" href="\index" style="margin-left:20px"><img
            src="{{ url_for( 'static', filename='img/icons/icon-home.png')}}" height=64 width=64/></a>
    <img style="display:block;margin: 5px auto;align-self:center;padding-right:75px;width:300px;height:auto;max-width:60vw"
         src="{{ url_for( 'static', filename='img/icons/logo_zav_1.png')}}">
    <img class="menu_button" style="display:block;position:absolute;right:32px;margin-top:15px;cursor:pointer"
         src="{{ url_for( 'static', filename='img/icons/menu1.png')}}" height=25
         width=36/>
</div>

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:orange;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2>КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->
<div class="container-title"></div>

<!-- Page items -->
<div class="container-total">

    <!-- Stallions -->
    <div id="stallions" style="display:flex; background: #202020;margin-left: 50px;margin-right: 50px;height: 95vh;">
        <div class="fadein" align="central">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}"
                 alt="Попкорн">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}" alt="Дакар">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}" alt="Упрёк">
            <img class="img_stallion" src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}" alt="Крекер">
        </div>
        <div class="img">
            <img class="img_stlion1" src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}"
                 onclick="location.href='\popcorn'">
            <img class="img_stlion2" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}"
                 onclick="location.href='\dakar'">
            <img class="img_stlion3" src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}"
                 onclick="location.href='\uprek'">
            <img class="img_stlion4" src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}"
                 onclick="location.href='\kreker'">
        </div>

        <div id="stlions_link">
            <h1 style="color:#ffc000;margin-bottom:55px;" align="center">ПРОДАЖА</h1>
            <div id="stlions_link_block" style="width: min-content;">
                <a class="link_stlion1" href="\popcorn" style="color:#fff;"><h2 align="left">ПОПКОРН</h2></a>
                <a class="link_stlion2" href="\dakar" style="color:#fff;"><h2 align="left">ДАКАР</h2></a>
                <a class="link_stlion3" href="\uprek" style="color:#fff;"><h2 align="left">УПРЁК</h2></a>
                <a class="link_stlion4" href="\kreker" style="color:#fff;"><h2 align="left">КРЕКЕР</h2></a>
                <a href="\sale" style="color:#fff;"><h2 align="left">Другие</h2></a>
            </div>
        </div>
    </div>

    <!-- About items -->
    <div id="about" class="container-about">
        <div class="middle" align="center">
            <h1 style="color: #fff">ИСТОРИЯ</h1>
            <div class="line-yellow"></div>
            <h1 style="color:#ffc000;margin-bottom:20px;">ЖИЗНЬ ЛЮДЕЙ И ЛОШАДЕЙ</h1>
        </div>
    </div>

    <!-- Gallery -->
    <div id="gallery" style="width: 100%; background-color: #303030;padding-bottom:20px">
        <div align="center">
            <div class="line-yellow"></div>
            <h1 style="display: inline-block;margin: 0 20px; padding-top: 40px;padding-bottom: 30px;color:#ffc000">
                ГАЛЕРЕЯ</h1>
            <div class="line-yellow"></div>
        </div>
        {% for i in range(3) %}
        <div style="display:flex;margin:10px 10px;width:30vh" align="center">
            {% for j in range(3) %}
            <img id="{{gallery[i*3+j].id}}_img" class="image"
                 src="{{ url_for( 'static', filename='img/gallery/'+gallery[i*3+j].filename)}}"/>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- News block -->
    <div class="news" align="center" onclick="location.href='/news'" style="cursor:pointer">
        <h1 style="color: #fff;padding-top:20vh;margin-bottom:20px">НОВОСТИ</h1>
        <div class="line-yellow"></div>
        <h1 style="color:#ffc000;margin-bottom:20px">ЖИЗНЬ ЛЮДЕЙ И ЛОШАДЕЙ</h1>
    </div>
</div>

<div class="popup" align="center">
    <div class="popup_bg"></div>
    <div id="carousel-id" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            {% for i in range(9) %}
            <div id="{{gallery[i].id}}" class="item" align="center">
                <img class="carousel_img"
                     src="{{ url_for( 'static', filename='img/gallery/'+gallery[i].filename)}}"/>
            </div>
            {% endfor %}

            <a class="left carousel-control" href="#carousel-id" role="button" data-slide="prev">
                <img src="{{ url_for( 'static', filename='img/arrow_left.png')}}"
                     style="margin:auto auto;margin-top:30vh;height:96px"/>
            </a>
            <a class="right carousel-control" href="#carousel-id" role="button" data-slide="next">
                <img src="{{ url_for( 'static', filename='img/arrow_right.png')}}"
                     style="margin:auto auto;margin-top:30vh;height:96px"/>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $(function(){
        $("#1_img").click(function() {
            $("#1").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#2_img").click(function() {
            $("#2").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#3_img").click(function() {
            $("#3").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#4_img").click(function() {
            $("#4").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#5_img").click(function() {
            $("#5").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#6_img").click(function() {
            $("#6").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#7_img").click(function() {
            $("#7").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#8_img").click(function() {
            $("#8").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#9_img").click(function() {
            $("#9").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#10_img").click(function() {
            $("#10").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#11_img").click(function() {
            $("#11").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#12_img").click(function() {
            $("#12").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#13_img").click(function() {
            $("#13").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#14_img").click(function() {
            $("#14").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
        $("#15_img").click(function() {
            $("#15").attr('class', 'item active');
            $(".popup").css({"display":"block"})
        });
     })
     $(function(){
        $(".popup_bg").click(function() {
            $(".popup").css({"display":"none"})
        });
    })






</script>
<script>
    $(function(){
        $(".link_stlion1").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion1").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion1").css({"display":"none"});
                    $(".fadein").css({"display":"block"});

            }
        );
        $(".link_stlion2").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion2").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion2").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
        $(".link_stlion3").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion3").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion3").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
        $(".link_stlion4").hover(
            function(){
                if ($(".fadein").css("display")!="none")
                    $(".img").css({"display":"block"});
                    $(".img_stlion4").css({"display":"block"});
                    $(".fadein").css({"display":"none"});
            },
            function(){
                if ($(".img").css("display")!="none")
                    $(".img").css({"display":"none"});
                    $(".img_stlion4").css({"display":"none"});
                    $(".fadein").css({"display":"block"});
            }
        );
     })






</script>
{% endblock %}