{% extends "stallions_ex.html" %}

{% block title %}
<title>Крекер</title>
{% endblock %}

{% block stallion %}
    <div style="padding-top:20px" align="center">
        <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}" alt="">
    </div>
    <div class="horse_descr">
        <h1 style="color: #ffc000;padding-left: 60px;padding-top: 30px;">Крекер</h1>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Порода: Орловская рысистая, жеребец</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родился 1 января 2018 года</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родители Кальмиус, Коррида</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Цена: 100 000 р.</p>
    </div>
{% endblock %}