{% extends "base.html" %}


{% block content %}

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:orange;" href="\news"><h2 style="color:orange;">НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Page items -->
<div class="container-total">
    <div style="margin-top:80px;margin-bottom:30px;" align="center">
        <h1 style="color:#fff">НОВОСТИ</h1>
    </div>
    <!-- Начало -->
    <div class="news_body">
        <div align="center">
            <img class="news_image" src="{{ url_for( 'static', filename='img/gallery/HL_13.png')}}" alt="">
        </div>
        <div style="background: #000;width: -webkit-fill-available;height:40vh;margin: auto 20px;padding:1px">
            <h1 style="color: #ffc000;" align="center">Заголовок</h1>
            <p style="color: #fff;font-size:16px" align="center">Текст</p>
        </div>
    </div>
    <div class="news_body">
        <div align="center">
            <img class="news_image" src="{{ url_for( 'static', filename='img/landscapes/3.1.png')}}" alt="">
        </div>
        <div style="background: #000;width: -webkit-fill-available;height:40vh;margin: auto 20px;padding:10px">
            <h1 style="color: #ffc000;" align="center">Заголовок</h1>
            <p style="color: #fff;font-size:16px" align="center">Текст</p>
        </div>
    </div>
</div>
{% endblock %}


