{% extends "base.html" %}


{% block content %}

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->
<div class="title_horse">
    <img class="central" style="height:200px;" src="{{ url_for( 'static', filename='img/server/logo1.png')}}" alt="">
</div>

<!-- Page items -->

<div class="runners">
    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    {% for i in range(length) %}
    <div class="runner" onclick="location.href='\stallion/' + breed + num[i]" style="cursor:pointer">
        {% for j in horses[i][2] %}
        <img src="{{ url_for( 'static', filename='img/user/'+j)}}" style="height:40vh;width:auto;"/>
        {% endfor %}
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;padding-top: 30px;font-size:40px;">{{horses[i][0]}}</h1>
            {% for j in horses[i][1][:-1] %}
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">{{j}}</p>
            {% endfor %}
        </div>
        <h2 style="color: #fff;margin: auto 50px">{{horses[i][1][-1]}}</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>
    {% endfor %}
</div>
{% endblock %}