{% extends "base.html" %}


{% block content %}

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->
<div class="title_horse">
    <img class="central" style="height:200px;" src="{{ url_for( 'static', filename='img/server/logo1.png')}}" alt="">
</div>

<!-- Page items -->

<div class="runners">
    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner" onclick="location.href='\popcorn'" style="cursor:pointer">
        <img src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}" style="height:40vh;width:auto;"/>
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;padding-top: 30px;font-size:40px;">Попкорн</h1>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Порода: Орловская рысистая, жеребец</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родился 1 января 2018 года</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родители Пеон 19, Паутинка</p>
        </div>
        <h2 style="color: #fff;margin: auto 50px">100 000</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner" onclick="location.href='\kreker'" style="cursor:pointer">
        <img src="{{ url_for( 'static', filename='img/stallions/kreker1.png')}}" style="height:40vh;width:auto;"/>
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;">Крекер</h1>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Порода: Орловская рысистая, жеребец</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родился 1 января 2018 года</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родители Кальмиус, Коррида</p>
        </div>
        <h2 style="color: #fff;margin: auto 50px">100 000</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner" onclick="location.href='\dakar'" style="cursor:pointer">
        <img src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}" style="height:40vh;width:auto;"/>
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;">Дакар</h1>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Порода: Орловская рысистая, жеребец</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родился 12 мая 2018 года</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родители Кальмиус, Динамика</p>
        </div>
        <h2 style="color: #fff;margin: auto 50px">100 000</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner" onclick="location.href='/uprek'" style="cursor:pointer">
        <img src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}" style="height:40vh;width:auto;"/>
        <div>
            <h1 style="color: #ffc000;padding-left: 10vw;">Упрёк</h1>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Порода: Орловская рысистая, жеребец</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родился в 2018 году</p>
            <p style="color: #fff;font-size:20px;padding-left: 7vw;">Родители Пеон 19, Убойная</p>
        </div>
        <h2 style="color: #fff;margin: auto 50px">100 000</h2>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>
</div>
{% endblock %}