{% extends "base.html" %}


{% block content %}

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:orange;" href="\sale"><h2 style="color:orange;">НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<div class="title" style="background-image: url({{'static/img/user/' + photo.query.filter_by(descr='sale').first().filename}}">
    <h1 style="color:#ffc000;padding-top:22vh" align="center">НАШИ ЛОШАДИ</h1>
</div>

<!-- Page items -->
<div class="container-total" align="center">
    <div class="horses_link">
        <div class="block_1" style="display:flex;width:max-content" align="center">
            <div class="horses_link_1" align="center"><a style="color:#fff" href="\stallions"><h3
                    style="margin:7px auto;">ЖЕРЕБЦЫ-ПРОИЗВОДИТЕЛИ</h3></a></div>
            <div class="horses_link_2" align="center"><a style="color:#fff" href="\heavy"><h3 style="margin:7px 10px;">
                РУССКИЕ ТЯЖЕЛОВОЗЫ</h3></a></div>
            <div class="horses_link_1" align="center"><a style="color:#fff" href="\runners"><h3
                    style="margin:7px 10px;">ОРЛОВСКИЕ РЫСАКИ</h3></a></div>
        </div>
        <div class="block_2" style="display:flex;width:max-content">
            <div class="horses_link_2" align="center"><a style="color:#fff" href="\foals"><h3 style="margin:2vw auto;">
                ЖЕРЕБЯТА 2018</h3></a></div>
            <div class="horses_link_1" align="center"><a style="color:#fff" href="\mares"><h3 style="margin:2vw auto;">
                КОБЫЛЫ</h3></a></div>
        </div>

    </div>

    <div style="width:70%;height:60vh;margin-top:70px" align="center">
        <h4 style="color:#fff;margin-top:50px">Пара слов о лошадях завиваловской селекции</h4>
    </div>
</div>
{% endblock %}