{% extends "base.html" %}


{% block content %}
<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Title -->

<div class="title_horse">
    <img class="central" style="height:200px;" src="{{ url_for( 'static', filename='img/logo1.png')}}" alt="">
</div>

<!-- Page items -->

<div class="runners">
    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner">
        <div style="padding-top:20px" align="center">
            <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/popcorn1.png')}}" alt="">
        </div>
        <div class="horse_descr">
            <h1 style="color: #ffc000;padding-left: 60px;padding-top: 30px;">Кличка</h1>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Порода</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Дата рождения</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родословная</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Промеры</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Характеристика</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Заслуги</p>
        </div>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>

    <div class="runner">
        <div style="padding-top:20px" align="center">
            <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/dakar1.png')}}" alt="">
        </div>
        <div class="horse_descr">
            <h1 style="color: #ffc000;padding-left: 60px;padding-top: 30px;">Кличка</h1>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Порода</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Дата рождения</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родословная</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Промеры</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Характеристика</p>
            <p style="color: #fff;font-weight:20px;padding-left: 40px;">Заслуги</p>
        </div>
    </div>

    <div class="line-yellow" style="width:100%;margin: 15px 0"></div>
</div>
{% endblock %}