{% extends "base.html" %}


{% block content %}

<div class="popup_menu">
    <div class="popup_bg_menu"></div>
    <div class="menu">
        <a style="color:#fff;" href="\index"><h2 style="margin-top:100px;">ГЛАВНАЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff;" href="\sale"><h2>НАШИ ЛОШАДИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\about"><h2>НАША ИСТОРИЯ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="\news"><h2>НОВОСТИ</h2></a>
        <div class="line-yellow"></div>
        <a style="color:#fff" href="#social"><h2 class="contacts">КОНТАКТЫ</h2></a>
    </div>
</div>

<!-- Page items -->
<div class="container-total_stlion">
    {% block stallion %}{% endblock %}
</div>
<!-- Contacts -->
<div id="contacts" class="stlion_cont" style="" align="center">
    <div class="person">
        <img style="width: 100%;" src="{{ url_for( 'static', filename='img/user/trainer.jpg')}}" alt="">
        <p style="color: #fff;font-weight: 500">Директор ПКЗ "Завиваловский"</p>
        <p style="color: #fff;font-weight: 300">И.И.Петров</p>
        <p style="color: #fff;font-weight: 300">Телефон: +7 (***) ***-**-**</p>
    </div>
    <div class="person">
        <img style="width: 100%;" src="{{ url_for( 'static', filename='img/user/trainer.jpg')}}" alt="">
        <p style="color: #fff;font-weight: 500">Тренер</p>
        <p style="color: #fff;font-weight: 300">И.О.Ф</p>
        <p style="color: #fff;font-weight: 300">Телефон: +7 (***) ***-**-**</p>
    </div>
    <div class="person">
        <img style="width: 100%;" src="{{ url_for( 'static', filename='img/user/trainer.jpg')}}" alt="">
        <p style="color: #fff;font-weight: 500">Тренер</p>
        <p style="color: #fff;font-weight: 300">И.О.Ф</p>
        <p style="color: #fff;font-weight: 300">Телефон: +7 (***) ***-**-**</p>
    </div>
</div>
{% endblock %}
