<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>3DPrintingService_RussiaPenza</title>
</head>
<body>
<div style="margin-top: 40vh">
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photo">Выберите файл</label>
        <input type="file" class="form-control-file" id="photo" name="file">
    </div>

    <button type="submit" class="btn btn-primary">Загрузить</button><a class="navbar-brand" href="/workpage">Главная</a>
</form>
</div>
</body>
</html>