{% extends "stallions_ex.html" %}

{% block title %}
<title>Упрёк</title>
{% endblock %}

{% block content %}
    <div style="padding-top:20px" align="center">
        <img class="horse_photo" src="{{ url_for( 'static', filename='img/stallions/3.jpg')}}" alt="">
    </div>
    <div class="horse_descr">
        <h1 style="color: #ffc000;padding-left: 60px;padding-top: 30px;">Упрёк</h1>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Порода: Орловская рысистая, жеребец</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родился в 2018 году</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Родители Пеон 19, Убойная</p>
        <p style="color: #fff;font-weight:20px;padding-left: 40px;">Цена: 100 000 р.</p>
    </div>
{% endblock %}